header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding-left: 3%;
    cursor: default;
}
ol,li{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 12%;
    margin-right: 10%;
    align-items: center;
}
li:hover{
color: yellow;
cursor: pointer;
}
